.CityList {

}

#city-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
    list-style-type: none;
}

button {

    background-color: rgba(80, 80, 81, 0.62); /* Green */
    border: none;
    color: white !important;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

form {
    display: flex;
    justify-content: center;
}

input {
    flex: auto;
}

.deleteButton {
    flex: auto;
}

.delete {
    display: flex;
}
