.weather {
    display: flex;
    flex-direction: column;
}
.infoType {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #d2cdc7;
    border-style: solid;
    border-color: aliceblue;
    color: aliceblue;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    font-family: sans-serif;
}
.city {
    color: #d2cdc7;
    font-size: x-large;
}
.defaultCity {
    color: #827e7b;
    font-size: xx-large;
}
